﻿
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="col-item">
                <div class="post-img-content">
                   <img src="../images/deadpool.jpg" class="img-responsive" />
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price col-md-6">
                            <h5>DeadPool 2</h5>
                            <h5 class="price-text-color">5.99€</h5>
                        </div>
                    </div>
                    <div class="separator clear-left">
                        <p class="btn-add">
                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Buy ticket</a>
                        </p>
                        <p class="btn-details">
                            <i class="fa fa-list"></i>@Html.ActionLink("More details", "MoviePage", "Movie")
                        </p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<center>
<table style="width: 10%;" border="0" cellpadding="20">
    <tbody>
        <tr>
            <td><b></b></td>
            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
            <td><b>11</b></td>
            <td><b>12</b></td>
        </tr>
        <tr>
            <td><b>A</b></td>
            <td><input type="checkbox" name="checkedValues" value="A1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="A12" /><span></span></td>
        </tr>
        <tr>
            <td><b>B</b></td>
            <td><input type="checkbox" name="checkedValues" value="B1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="B12" /><span></span></td>
        </tr>
        <tr>
            <td><b>C</b></td>
            <td><input type="checkbox" name="checkedValues" value="C1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="C12" /><span></span></td>
        </tr>
        <tr>
            <td><b>D</b></td>
            <td><input type="checkbox" name="checkedValues" value="D1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="D12" /><span></span></td>
        </tr>
        <tr>
            <td><b>E</b></td>
            <td><input type="checkbox" name="checkedValues" value="E1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="E12" /><span></span></td>
        </tr>
        <tr>
            <td><b>F</b></td>
            <td><input type="checkbox" name="checkedValues" value="F1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="F12" /><span></span></td>
        </tr>
        <tr>
            <td><b>G</b></td>
            <td><input type="checkbox" name="checkedValues" value="G1" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G2" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G3" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G4" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G5" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G6" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G7" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G8" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G9" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G10" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G11" /><span></span></td>
            <td><input type="checkbox" name="checkedValues" value="G12" /><span></span></td>
        </tr>
    </tbody>
</table>
</center>
    ---->