﻿@{
    ViewBag.Title = "Tickets";
}    
<h2>@ViewBag.Title</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@using (Html.BeginForm("generateTicket", "Ticket", FormMethod.Post))
{
    <center><button type="submit" value="Generate ticket" style="font-size:12px">Generate ticket       
      <i class="fa fa-file-pdf-o"></i></button></center>
}

